@use 'theme';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

main {
  flex: 1 1 auto;
  overflow-x: hidden;
  padding: calc(var(--header) + 2rem) 2rem 2rem 2rem;

  background: linear-gradient(
    rgba(0, 0, 0, 0.6) 0,
    theme.$colors-background-black 15%
  );
}
