/* border */
$border-grey: #eee;

/* background */
$background-black: #121212;
$background-black-light: #242424;
$background-grey: #727272;
$background-card: #181818;
$background-green: #1ed760;
$background-green-light: #1fdf64;

/* skeleton */
$skeleton-grey: #eee;

/* text */
$text-white: #fff;
$text-grey: #a7a7a7;
