@use 'theme';
@use 'mixins';

:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  right: 0;
  height: var(--header);
  width: 100%;
  background-color: theme.$colors-background-black;
  color: theme.$colors-text-grey;
}

.home-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.home-text {
  font-size: 1rem;
  font-weight: 700;
  color: theme.$colors-text-white;
}

.login-button {
  @include mixins.reset-button;

  padding: 0.75rem 2rem;
  border-radius: 1.5rem;
  justify-self: end;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
    background-color: #eee;
  }
}

.login-text {
  font-size: 1rem;
  font-weight: 700;
}
